.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &--flex {
        flex-direction: row;
    }

    &__inp {
        width: calc(100% - 40px);
        max-width: 250px;
        padding: 10px;
        border: none;
        border-bottom: 2px solid darken($main-color, 10%);
        outline: none;
        margin: 0 0 20px 0;
        color: $text-color;
        background-color: #111;
        font-family: $font-content;
        font-size: 16px;
        font-weight: bold;

        &:focus {
            border-bottom: 2px solid $main-color;
        }
    }

    &__submit {
        @extend .btn;
    }

    &__textarea {
        border: 2px solid darken($main-color, 10%);
        background-color: rgba(10, 10, 10, 0.9);
        color: $text-color2;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        outline: none;
        resize: none;
        transition: $transition-time;

        &::placeholder {
            color: #808080;
        }

        &:focus {
            border: 2px solid $main-color;
        }
    }

    &__search {
        display: block;
        outline: none;
        width: 100%;
        max-width: 300px;
        padding: 12px;
        margin: 0 auto;
        border: none;
        border-left: 2px solid $main-color;
        border-right: 2px solid $main-color;
        border-radius: 8px;
        background-color: rgba(10, 10, 10, 0.3);
        color: $text-color2;
        font-size: 14px;
        font-weight: bold;

        &::placeholder {
            color: #808080;
        }
    }
}

#checkbox {

    & > span.MuiFormControlLabel-label {
        font-size: 13px;
        color: $text-color;
    }

    & > span.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
        color: $main-color;
    }
    margin-bottom: 20px;
}

#radio {
    display: flex;
    margin: 0;
    & > span.MuiFormControlLabel-label {
        font-size: 14px;
        color: $text-color;
    }
    & > span.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
        color: $main-color;
    }
}

#select {
    width: 100%;
    margin-bottom: 20px;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    color: $text-color;
    padding: 10px;
    border-bottom: 2px solid $main-color;
}
div.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    color: $main-color;
}
div.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $main-color;
}