.galery-page {

    &__return-icon {
        @include position-absolute(20px,20px,0,0);
    }

    &__title {
        padding: 20px 80px;
        box-shadow: 0 0 8px 4px rgba(0,0,0,0.8);
        color: $main-color;
        background-color: rgba(0,0,0,0.8);
        font-size: 24px;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
    }

    &__item {
        flex-basis: 100%;
        transition: $transition-time;
        cursor: pointer;

        &:hover {
            transform: translateY(-5px);
        }

        @media (min-width: $md-mobile) {
            flex-basis: calc(50% - 10px);
        }
        
        @media (min-width: $lg-mobile) {
            flex-basis: calc(33.33333% - 14px);
        }
    }
}