.lightbox {
    opacity: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    animation: show-opacity 0.4s ease-out forwards;

    &__img-wrapper {
        width: 100vw;
        height: calc(100vh - 190px);
        padding: 20px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
        aspect-ratio: inherit;
    }

    &__aside {
        background-color: black;
    }

    &__top {
        display: flex;
        justify-content: flex-end;
        height: 60px;
        padding: 15px;
        border-bottom: 1px solid darken($main-color, 10%);
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        padding: 20px;
        border-top: 1px solid darken($main-color, 10%);
    }

    &__close {
        width: 30px;
        height: 30px;
    }

    &__list {
        flex-grow: 1;
        max-width: 900px;
        display: flex;
        justify-content: center;
        gap: 8px;
        overflow-x: scroll;
    }

    &__item {
        flex-shrink: 0;
        width: 90px;
        height: 90px;
        color: darken($main-color, 20%);
        border: 3px solid;
        border-radius: 8px;
        overflow: hidden;
        transition: color 0.2s;
        cursor: pointer;

        &.active {
            color: $main-color;
        }

        &:hover {
            color: $main-color;
        }
    }

    &__arrow {
        flex-shrink: 0;
        width: 30px;
        height: 30px;
        padding: 0;
        background-color: transparent;
        color: darken($main-color, 15%);
        cursor: pointer;
        transition: $transition-time;

        &:hover {
            color: $main-color;
            background-color: transparent;
        }

        &:nth-of-type(1) {
            margin-right: 20px;
        }
        &:nth-of-type(2) {
            margin-left: 20px;
        }
    }
}