*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-thumb {

}

*::-webkit-scrollbar-track {

}

body {
    
}

.main {
    
}

.text {
    margin: 0 auto;
    text-align: center;
    font-family: $content;
    font-weight: 200;
}