.privacy-policy {
    padding: 20px;

    h1 {
        margin-bottom: 30px;
    }

    h2 {
        margin-bottom: 20px;
        margin-top: 40px;
    }

    ul {
        list-style: disc;
    }

    li {
        margin-left: 20px;
    }
}